absl-py==0.14.1
astor==0.8.1
cached-property==1.5.2
certifi==2020.12.5
cloudpickle==2.0.0
colorama==0.4.4
dataclasses==0.6
decorator==4.4.2
future==0.18.2
gast==0.2.2
google-pasta==0.2.0
grpcio==1.41.0
h5py==2.9.0
hyperopt==0.2.5
importlib-metadata==4.8.1
Keras==2.1.5
Keras-Applications==1.0.8
Keras-Preprocessing==1.1.2
Markdown==3.3.4
networkx==2.5.1
numpy==1.19.5
opt-einsum==3.3.0
protobuf==3.18.1
PyYAML==6.0
scipy==1.5.4
six==1.16.0
tensorboard==1.15.0
tensorflow-estimator==1.15.1
tensorflow-gpu @ https://storage.googleapis.com/tensorflow/windows/gpu/tensorflow_gpu-1.15.0-cp37-cp37m-win_amd64.whl
termcolor==1.1.0
tqdm==4.62.3
typing-extensions==3.10.0.2
Werkzeug==2.0.2
wincertstore==0.2
wrapt==1.13.2
zipp==3.6.0
